body{background-color: #3E3A47;display:flex;
     justify-content: center; flex-direction: column;
     align-items: center;
       }
       @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.font{font-family: 'Lobster', cursive; font-size: 7rem; color: #66CC33;}

.font1{ font-size: 35px; color: #66CC33;}
.font2{ font-size: 25px; color: #fff;}
.container{font-family: 'Caveat', cursive;
            display: grid;
                grid-template-rows: 50px 200px 50px;
                grid-template-columns:200px 200px;
                gap: 40px;
              }

.player1content{ grid-area:1/1/2/2;display:
     flex;justify-content: center;align-items: center;}

.player2content{ grid-area:1/2/2/3;display:
     flex;justify-content: center;align-items: center;}
.player1{ background-color: #FF3300; grid-area:2/1/3/2;display:
     flex;justify-content: center;align-items: center;border-radius: 15px;}

.player2{background-color:#FF3300; grid-area:2/2/3/3;display:
     flex;justify-content: center;align-items: center;border-radius: 15px;}

.belowcontent{ grid-area:3/1/4/3;display:
     flex;justify-content: center;align-items: center;}

     .disecontainer{display: grid;
                     grid-template-rows: 40px 40px 40px;
                     grid-template-columns:40px 40px 40px;
                     gap: 20px;

                   }
     .dice1{  grid-area:1/1/2/2; border-radius: 50%;}
     .dice2{  grid-area:1/2/2/3; border-radius: 50%;}
     .dice3{  grid-area:1/3/2/4; border-radius: 50%;}
     .dice4{  grid-area:2/1/3/2; border-radius: 50%;}
     .dice5{  grid-area:2/2/3/3; border-radius: 50%;}
     .dice6{  grid-area:2/3/3/4; border-radius: 50%;}
     .dice7{  grid-area:3/1/4/2; border-radius: 50%;}
     .dice8{  grid-area:3/2/4/3; border-radius: 50%;}
     .dice9{  grid-area:3/3/4/4; border-radius: 50%;}


  .disecontainer2{display: grid;
                     grid-template-rows: 40px 40px 40px;
                     grid-template-columns:40px 40px 40px;
                     gap: 20px;

                   }
     .dice12{  grid-area:1/1/2/2; border-radius: 50%;}
     .dice22{  grid-area:1/2/2/3; border-radius: 50%;}
     .dice32{  grid-area:1/3/2/4; border-radius: 50%;}
     .dice42{  grid-area:2/1/3/2; border-radius: 50%;}
     .dice52{  grid-area:2/2/3/3; border-radius: 50%;}
     .dice62{  grid-area:2/3/3/4; border-radius: 50%;}
     .dice72{  grid-area:3/1/4/2; border-radius: 50%;}
     .dice82{  grid-area:3/2/4/3; border-radius: 50%;}
     .dice92{  grid-area:3/3/4/4; border-radius: 50%;}


     .white{background-color:#ffffff;}
